* {
  margin: 0;
  padding: 0;
}

.title {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 74);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0 skyblue;
  }
  50% {
    text-shadow: 0 0 20px skyblue;
  }
  1000% {
    text-shadow: 0 0 0 skyblue;
  }
}
.title > div {
  width: 300px;
}
.title > div > p {
  animation: glow 5s ease-in-out infinite;
  text-align: center;
  font-size: 48px;
  line-height: 120px;
  font-weight: bold;
}
.title > div > button {
  transition: box-shadow 0.2s;
  border: none;
  color: black;
  background-color: white;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  margin: 5px;
  height: 50px;
}
.title > div > button:focus {
  outline: none;
  box-shadow: 0 0 20px white;
}
.title > div > .delete-savedata {
  height: 30px;
  color: red;
}

main {
  padding: 0 20px;
  transition: filter 1s;
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: pink;
  font-family: sans-serif;
}

.day {
  filter: invert(0);
  background-color: rgb(223, 245, 255);
}
.night {
  filter: invert(1);
  background-color: rgb(253, 255, 242);
}
.light {
  filter: invert(0);
  background-color: rgb(210, 211, 194);
}
.rainy {
  filter: invert(0);
  color: white;
  background-color: rgb(66, 67, 134);
}

.night img {
  filter: invert(1);
}

.controller {
  display: none;
  height: 100px;
  margin-top: 15px;
  width: 300px;
}
.controller > button {
  color: black;
  border: solid 1px black;
  background-color: white;
  border-radius: 0;
  height: 40px;
  margin: 5px;
}
.controller > .large {
  width: 290px;
}
.controller > .medium {
  width: 140px;
}
.controller > .mini {
  width: 50px;
}

.message {
  display: block;
  margin-top: 30px;
  padding: 10px;
  white-space: pre-wrap;
  height: 90px;
  background-color: rgba(193, 193, 193, 0.313);
  outline: double 8px black;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.debug {
  /* display: none; */
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 10px);
  overflow-wrap: break-word;
  font-size: 14px;
  background-color: white;
}

@media screen and (max-width: 650px) {
  .controller {
    display: block;
  }
  .message {
    font-size: 12px;
  }
}
